.navbar{
  background-color: #0097A7;
  border-color: #0097A7;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #fff;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #0097A7;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #0097A7;
    background-color: #fff;
}

.dropdown-menu {
  background-color: #0097A7;
}

@media(min-width: 768px) {
  .navbar {
      border-radius: 0px;
  }
}
