@(usuario: Usuario, tareas: List[String])
@scripts = {

}
@main("Calendario de @usuario.getLogin()", usuario, scripts) {

  <div style="text-align: center">
    <legend> Calendario de @usuario.getLogin()</legend>
    <br/>

    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        <div id="calendar"></div>
      </div>
    </div>

  </div>

  <script type="text/javascript">

    function mapTareasToJsonArray() {

      if(@tareas.size() > 0) {
        let tareasJava = "@tareas"
        let textTareas = tareasJava.replace(/&quot;/g, '\"');
        let textTareasArray1 = textTareas.replace('[', '');
        let textTareasArray2 = textTareasArray1.replace(']', '');

        let tareasArray = textTareasArray2.split(", ");
        //console.log(tareasArray)
        return tareasArray.map( (tarea) => {
          return JSON.parse(tarea)
        })
      } else {
        return []
      }
    }

    function mapTareasToEvents(tareas) {
      return tareas.map( (tarea) => {
        if(tarea.fechaLimite !== '0000-00-00'){
          return {
            title: tarea.titulo,
            start: tarea.fechaLimite,
            backgroundColor: '#E91E63',
            borderColor: '#C2185B'
          }
        }
      })
    }

    $(document).ready(function() {
      // page is now ready, initialize the calendar...
      let tareas = mapTareasToJsonArray()
      let events = mapTareasToEvents(tareas)

      $("#calendar").fullCalendar({
        events: events,
        timezone: 'local',
        themeSystem: 'bootstrap3',
        firstDay: 1,
        header: {
          left:   'prev,next today',
          center: 'title',
          right:  'month,agendaWeek,agendaDay,list '
        },
        dayClick: function() {
            alert('a day has been clicked!');
        }
      })

  });
  </script>
}
