@(usuario: Usuario, tarea: Tarea, etiquetas: List[Etiqueta], etiquetaForm: Form[Tarea])
@scripts = {
    <script type="text/javascript">
        function del(urlBorrar) {
            $.ajax({
                url: urlBorrar,
                type: 'DELETE',
                success: function(results) {
                    //refresh the page
                    location.reload();
                }
            });
        }

        function terminar(urlTerminar) {
          $.ajax({
            url: urlTerminar,
            type: 'POST',
            success: function (results) {
              location.reload();
            }
          })
        }
    </script>
}
@main("Detalle de tarea", tarea.getUsuario(), scripts) {

<p>
    <a class="btn btn-default" href="@routes.GestionTareasController.listaTareas(usuario.getId())">
      <i class="fa fa-chevron-left"></i>
      &nbsp;
      Mis tareas
    </a>
</p>
<h2>
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
      Tarea @tarea.getTitulo()
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6" align="right">
      @if(tarea.getTerminada() != true) {
        <a class="btn btn-info" href="@routes.GestionTareasController.formularioEditaTarea(tarea.getId())">
          <span class="glyphicon glyphicon-pencil"></span>
          &nbsp;
          Editar
        </a>
      }
        <a class="btn btn-danger" onmouseover="" style="cursor: pointer;"
          onclick="del('@routes.GestionTareasController.borraTarea(tarea.getId())')">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          &nbsp;
          Borrar
        </a>
    </div>
  </div>
</h2>
<hr>
<div class="container-fluid">
    <h5>
      <i class="fa fa-align-justify"></i>
      &nbsp;
      <strong>Descripción: </strong>
       @tarea.getDescripcion()
    </h5>
    <h5>
      <i class="fa fa-calendar"></i>
      &nbsp;
      <strong>Fecha de creación: </strong>
       @tarea.getFechaCreacion()
    </h5>
    <h5>
      <i class="fa fa-clock-o"></i>
      &nbsp;
      <strong>Fecha límite: </strong>
       @tarea.getFechaLimite()
    </h5>
    <h5><strong>Estado: </strong>
        @if(tarea.getTerminada()){
          Terminada
        } else {
          En curso
          &nbsp;
          <a class="btn btn-xs btn-success" style="cursor: pointer"
          onclick="terminar('@routes.GestionTareasController.terminaTarea(tarea.getId())')">
            <i class="fa fa-check-square-o"
            data-placement='top' title='Terminar tarea'></i>
            &nbsp;
            Terminar tarea
          </a>
        }
    </h5>
    <hr>
    <h5><strong>Usuarios asignados: </strong>
    @for(usuario <- tarea.getUsuariosAsignados()) {
      <i class="fa fa-user"></i> @usuario.getEmail()
    }
    </h5>
    <hr>
    <div class="col-xs-12 col-ls-12">
      <strong>Etiquetas: </strong>
      @if(tarea.getEtiquetas().size() > 0){
        @for(etiqueta <- tarea.getEtiquetas()) {
          <i class="glyphicon glyphicon-tag"></i> @etiqueta.getNombre()
        }
        &nbsp;
      } else {
        <p>No se ha asignado ninguna etiqueta</p>
      }

    </div>

    <div class="col-xs-12 col-ls-12">

      @helper.form( action = routes.GestionTareasController.asignaEtiquetaTarea( tarea.getId() ) ) {
        <fieldset>
          @helper.select(
            field = etiquetaForm("etiqueta"),
            options = etiquetas.map(etiqueta=>etiqueta.getId().toString() -> etiqueta.getNombre()),
            '_default -> "-- Elige una etiqueta --",
            '_label -> "Nueva etiqueta",
            'name -> "etiqueta",
            'id -> "etiqueta",
            'class -> "form-control"
          )
        </fieldset>
          <div>
            <input type="submit" class="btn btn-primary" value="Añadir etiqueta">
          </div>
      }
      <hr>

    </div>


    <hr>
    <h5>
      <strong>Tablero: </strong>
       @tarea.getColumna().getTablero().getNombre()
    </h5>
    <h5>
      <strong>Columna: </strong>
       @tarea.getColumna().getNombre()
    </h5>
    <p>
      &nbsp; &nbsp;
      <a href="@routes.GestionTablerosController.detalleTablero(usuario.getId(), tarea.getColumna().getTablero().getId())" style="font-size: 13px">
        <i>Ver detalles</i>
        &nbsp;
        <i class="fa fa-angle-double-right"></i>
      </a>
    </p>
</div>
}
