@(tablero: Tablero, participantes: List[Usuario], columnas: List[Columna], columnaForm: Form[Columna], usuario: Usuario,
editable: Boolean, etiquetas: List[Etiqueta], etiquetaForm: Form[Etiqueta])

@main("Detalle de tablero", usuario) {
    @if(mensaje != "") {
        <div class="alert alert-danger">
            @mensaje
        </div>
    }
    <p>
      <a class="btn btn-default" href="@routes.GestionTablerosController.listaTableros(usuario.getId())">
        <i class="fa fa-chevron-left"></i>
        &nbsp;
        Mis tableros
      </a>
    </p>
   <h2>
     Tablero @tablero.getNombre()
   </h2>
   <hr>

    @modalActualizarTablero(usuario, tablero)

    <h5>
      <strong>Nombre: </strong> @tablero.getNombre()
      &nbsp;
      <a data-toggle="modal" data-target="#modalActualizarTablero@tablero.getId()"><i class="glyphicon glyphicon-pencil"></i></a>
    </h5>
    <h5><strong>Administrador: </strong> @tablero.getAdministrador().getLogin() </h5>
    </br>
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong> Participantes </strong>
      </div>
      <table class="table table-striped">
            @if(participantes.size() > 0) {
              <tr>
                  <th>Login</th>
                  <th>Email</th>
              </tr>
              @for(participante <- participantes) {
                  <tr>
                      <td>@participante.getLogin()</td>
                      <td>@participante.getEmail()</td>
                  </tr>
                }
            } else {
              <tr>
                  <td align="center">No se ha apuntado ningún usuario</td>
              </tr>
            }
      </table>
    </div>

    @listaEtiquetas(usuario, tablero, etiquetas, etiquetaForm)

    @if(!editable) {
      @listaColumnas(usuario, tablero, columnas, columnaForm)
    } else {
      @listaEditarColumnas(usuario, tablero, columnas, columnaForm)
    }

 </div>


}
