@(usuario: Usuario, tareaForm: Form[Tarea], columnas: List[Columna], mensaje: String)
@main("Nueva tarea", usuario) {
    @if(mensaje != "") {
        <div class="alert alert-danger">
            @mensaje
        </div>
    }
    @helper.form(action = routes.GestionTareasController.creaNuevaTarea(usuario.getId())) {

        <legend>Nueva tarea</legend>

        <fieldset>
            @helper.inputText(tareaForm("titulo"), '_label -> "Titulo", 'size -> 70, 'type -> "text", 'class -> "form-control")
        </fieldset>

        <fieldset>
            @helper.inputText(tareaForm("descripcion"), '_label -> "Descripción", 'size -> 70, 'type -> "text", 'class -> "form-control")
        </fieldset>

        <fieldset>
            @helper.inputDate(tareaForm("fechaLimite"), '_label -> "Fecha Límite", 'size -> 70)
        </fieldset>

        <fieldset>
          @helper.select(
            field = tareaForm("columna"),
            options = columnas.map(columna => columna.getId().toString() -> columna.getNombre() ),
            '_default -> "-- Elige una columna --",
            '_label -> "Columna - Tablero",
            'name -> "columna",
            'id -> "columna",
            'class -> "form-control"
          )
        </fieldset>

        <p>
           <input type="submit" class="btn btn-primary" value="Guardar">
        </p>
    }

}
