@(usuario: Usuario, mensaje: String)
@main("Modificar Usuario", usuario) {
   @if(mensaje != "") {
      <div class="alert alert-danger">
         @mensaje
      </div>
   }
   @helper.form(action = routes.UsuarioController.grabaUsuarioModificado(usuario.getId())) {
      <fieldset>
         <legend>Modificar usuario</legend>
         Nombre:  <input type="text" class="form-control" size=70 name="nombre" value= "@usuario.getNombre()">
        </br>
         Apellidos:  <input type="text" class="form-control" size=70 name="apellidos" value= "@usuario.getApellidos()">
        </br>
         Fecha de nacimiento:  <input type="date" name="fechaNacimiento" value="@usuario.getFechaNacimiento()">
      </fieldset>
      <p/>
      <p>
         <input type="submit" class="btn btn-primary" value="Guardar">
         <a class="btn btn-warning" href="@routes.UsuarioController.detalleUsuario(usuario.getId())">Cancelar</a>
      </p>
   }
}
