@(usuario: Usuario, idTarea: Long, titulo: String, fechaLimite: Date, mensaje: String)
@main("Modificar Tarea", usuario) {
   @if(mensaje != "") {
      <div class="alert alert-danger">
         @mensaje
      </div>
   }
   <h1>Modificar tarea</h1>
   @helper.form(action = routes.GestionTareasController.grabaTareaModificada(idTarea)) {
      <fieldset>
         <legend>Tarea</legend>
         Título:  <input type="text" size=70 name="titulo" value= "@titulo">
      </fieldset>
      <fieldset>
         Fecha Límite: <input type="date" size=70 name="fechaLimite" value= "@fechaLimite">
      </fieldset>
      <p/>
      <p>
         <input type="submit" class="btn btn-primary" value="Guardar">
         <a class="btn btn-warning" href="@routes.GestionTareasController.listaTareas(usuario.getId())">Cancelar</a>
      </p>
   }
}
