@(usuario: Usuario, tareaForm: Form[Tarea], idTarea: Long, titulo: String, descripcion: String, fechaLimite: Date, mensaje: String)
@main("Modificar Tarea", usuario) {
   @if(mensaje != "") {
      <div class="alert alert-danger">
         @mensaje
      </div>
   }
   <h1>Modificar tarea</h1>
   @helper.form(action = routes.GestionTareasController.grabaTareaModificada(idTarea)) {
      <fieldset>
         <legend>Tarea</legend>
         @helper.inputText(tareaForm("titulo").copy(value=Some(titulo)), '_label -> "Titulo", 'size -> 70, 'type -> "text", 'class -> "form-control")

         @helper.inputText(tareaForm("descripcion").copy(value=Some(descripcion)), '_label -> "Descripción", 'size -> 70, 'type -> "text", 'class -> "form-control")

         @helper.inputDate(tareaForm("fechaLimite").copy(value=Some(fechaLimite.format("yyyy-MM-dd"))), '_label -> "Fecha Límite (opcional)", 'size -> 70)

      </fieldset>
      <p/>
      <p>
         <input type="submit" class="btn btn-primary" value="Guardar">
         <a class="btn btn-warning" href="@routes.GestionTareasController.listaTareas(usuario.getId())">Cancelar</a>
      </p>
   }
}
