@(usuario: Usuario, tableroForm: Form[Tablero], mensaje: String)
@main("Nuevo tablero", usuario) {
    @if(mensaje != "") {
        <div class="alert alert-danger">
            @mensaje
        </div>
    }
    <h1>Nuevo tablero para @usuario.getLogin()</h1>
    @helper.form(action = routes.GestionTablerosController.creaNuevoTablero(usuario.getId())) {
        <fieldset>
            <legend>Nuevo tablero</legend>
            @helper.inputText(tableroForm("nombre"), '_label -> "Nombre", 'size -> 70, 'type -> "text", 'class -> "form-control")
        </fieldset>
        <p>
           <input type="submit" class="btn btn-primary" value="Guardar">
        </p>
    }
}
