@(tablerosAdministrados: List[Tablero], tablerosParticipados: List[Tablero], restoTableros: List[Tablero], usuario: Usuario, mensaje: String)
@scripts = {
  <script type="text/javascript">
    function cerrarTablero(urlCerrar) {
        $.ajax({
          url: urlCerrar,
          type: 'POST',
          success: function (results) {
            location.reload();
          }
        });
    }
  </script>
}
@main("Tableros administrados del usuario @usuario.getLogin()", usuario, scripts) {

  @if(mensaje != null) {
      <div class="alert alert-success">
          @mensaje
      </div>
  }

  <h2> Tableros de @usuario.getLogin()</h2>

  <table class="table table-striped">
        <tr>
            <th>Administrados</th>
            <th>Acciones</th>
        </tr>
    @for(tablero <- tablerosAdministrados) {
        <tr>
            @if(tablero.getCerrado()) {
              <td>@tablero.getNombre() (cerrado)</td>
            } else {
              <td><a href="@routes.GestionTablerosController.detalleTablero(usuario.getId(), tablero.getId())">
                @tablero.getNombre()
              </a></td>
            }

            <td>
              @if(!tablero.getCerrado()) {
              <button id="buttonUpdate" class="btn btn-danger btn-xs" data-toggle="modal"
              data-target="#modalCerrarTablero@tablero.getId()"><i class="fa fa-archive"
              data-placement='top' title='Cerrar tablero'></i></button></td>
            }
              <div id="modalCerrarTablero@tablero.getId()" class="modal fade bs-example-modal-xs" tabindex="-1"
                role="dialog" aria-hidden="true">
                <div class='modal-dialog modal-xs'>
                  <div class='modal-content'>
                    <div class='modal-header'>
                      <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>×</span>
											</button>
										  <h4 class='modal-title'>Cerrar tablero @tablero.getNombre()</h4>
                    </div>
                    <div class='modal-body'>
                      <p>¿Estás completamente seguro de cerrar el tablero?</p>
                      <p>No podrás <strong>volver a abrirlo o editar de nuevo</strong> en él</p>
                    </div>
                    <div class="modal-footer">
                      <a onclick="cerrarTablero('@routes.GestionTablerosController.cerrarTablero(usuario.getId(), tablero.getId())')"
                        class="btn btn-info">Aceptar</a>
                      <button type='button' class='btn btn-default pull-right' data-dismiss='modal'>Cancelar</button>
                    </div>
                  </div>
                </div>
              </div>
        </tr>
      }

        <tr>
            <td><a href="@routes.GestionTablerosController.formularioNuevoTablero(usuario.getId())">
                <span class="glyphicon glyphicon-plus"/></a></td>
            <td></td>
        </tr>

        <tr>
            <th>Participo en ...</th>
            <th></th>
        </tr>
    @for(tablero <- tablerosParticipados) {
        <tr>
            <td><a href="@routes.GestionTablerosController.detalleTablero(usuario.getId(), tablero.getId())">
              @tablero.getNombre()
            </a></td>
            <td></td>
        </tr>
      }

        <tr>
            <td></td>
            <td></td>
        </tr>

  </table>

  <h2> Otros tableros </h2>

  <table class="table table-striped">
    @for(tablero <- restoTableros) {
        <tr>
            <td><a href="@routes.GestionTablerosController.detalleTablero(usuario.getId(), tablero.getId())">
              @tablero.getNombre()
            </a></td>
            <td><a href="@routes.GestionTablerosController.apuntarse(usuario.getId(), tablero.getId())">Apuntarse</a></td>
        </tr>
      }
  </table>
}
