@(tareas: List[Tarea], usuario: Usuario, mensaje: String)
@scripts = {
    <script type="text/javascript">
        function del(urlBorrar) {
            $.ajax({
                url: urlBorrar,
                type: 'DELETE',
                success: function(results) {
                    //refresh the page
                    location.reload();
                }
            });
        }

        function terminar(urlTerminar) {
          $.ajax({
            url: urlTerminar,
            type: 'POST',
            success: function (results) {
              location.reload();
            }
          })
        }
    </script>
}
@main("Tareas del usuario @usuario.getLogin()", usuario, scripts) {

    <h2> Listado de tareas de @usuario.getLogin()</h2>

    <ul class="nav nav-tabs">
      <li role="presentation"><a href="@routes.GestionTareasController.listaTareas(usuario.getId())">Activas</a></li>
      <li role="presentation"><a href="@routes.GestionTareasController.listaTareasTerminadas(usuario.getId())">Terminadas</a></li>
      <li role="presentation" class="active"><a href="@routes.GestionTareasController.listarTareasPapelera(usuario.getId())">Borradas</a></li>
    </ul>

    <table class="table table-striped">
        <tr>
            <th>Tareas</th>
            <th>Descripción</th>
            <th>Fecha Límite</th>
            <th>Acción</th>
        </tr>
    @for(tarea <- tareas) {
          <tr>
              <td>
                  @tarea.getTitulo()
              </td>
              <td>@tarea.getDescripcion()</td>
              <td>@if(tarea.getFechaLimite() != null) {
                      @tarea.getFechaLimite().format("dd-MM-yyyy")
                  }
              </td>
              <td>
                  <a onmouseover="" style="cursor: pointer;" class="btn btn-danger btn-xs"
                  onclick="del('@routes.GestionTareasController.borraTarea(tarea.getId())')">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
          </tr>
      }

  </table>

  @if(mensaje != null) {
      <div class="alert alert-success">
          @mensaje
      </div>
  }
}
