@(tablerosAdministrados: List[Tablero], tablerosParticipados: List[Tablero], restoTableros: List[Tablero], usuario: Usuario, mensaje: String)
@main("Tableros administrados del usuario @usuario.getLogin()") {

  <h5><a href="@routes.UsuarioController.logout()">Salir</a></h5>

  @if(mensaje != null) {
      <div class="alert alert-success">
          @mensaje
      </div>
  }

  <h2> Tableros de @usuario.getLogin()</h2>

  <table class="table table-striped">
        <tr>
            <th>Administrados</th>
            <th></th>
        </tr>
    @for(tablero <- tablerosAdministrados) {
        <tr>
            <td><a href="@routes.GestionTablerosController.detalleTablero(usuario.getId(), tablero.getId())">
              @tablero.getNombre()
            </a></td>
            <td></td>
        </tr>
      }

        <tr>
            <td><a href="@routes.GestionTablerosController.formularioNuevoTablero(usuario.getId())">
                <span class="glyphicon glyphicon-plus"/></a></td>
            <td></td>
        </tr>

        <tr>
            <th>Participo en ...</th>
            <th></th>
        </tr>
    @for(tablero <- tablerosParticipados) {
        <tr>
            <td><a href="@routes.GestionTablerosController.detalleTablero(usuario.getId(), tablero.getId())">
              @tablero.getNombre()
            </a></td>
            <td></td>
        </tr>
      }

        <tr>
            <td></td>
            <td></td>
        </tr>

  </table>

  <h2> Otros tableros </h2>

  <table class="table table-striped">
    @for(tablero <- restoTableros) {
        <tr>
            <td><a href="@routes.GestionTablerosController.detalleTablero(usuario.getId(), tablero.getId())">
              @tablero.getNombre()
            </a></td>
            <td><a href="@routes.GestionTablerosController.apuntarse(usuario.getId(), tablero.getId())">Apuntarse</a></td>
        </tr>
      }
  </table>
}
