@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String, usuario: Usuario, scripts: Html = Html(""))(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")" rel="stylesheet" media="screen">
        <link href="@routes.Assets.versioned("stylesheets/main.css")" rel="stylesheet" media="screen">
        <link href="@routes.Assets.versioned("images/favicon.png")" rel="shortcut icon" type="image/png">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
        <link href="@routes.Assets.versioned("jquery-ui.min.css")" rel="stylesheet"  type="text/javascript">
        <script src="@routes.Assets.versioned("javascripts/jquery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/jquery-ui.min.js")" type="text/javascript"></script>
        <script src="https://use.fontawesome.com/14255a829a.js"></script>
    </head>
    <body>
        @navbar(usuario)
        <div class="container">
            @content
        </div>
        <script src="@routes.Assets.versioned("javascripts/jquery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/jquery-ui.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
        @scripts
    </body>
</html>
