@(usuario: Usuario)
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">TodoList</a>
    </div>

    @if(usuario != null) {
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="@routes.GestionTareasController.listaTareas(usuario.getId())">Mis tareas</a></li>
          <li><a href="@routes.GestionTablerosController.listaTableros(usuario.getId())">Mis tableros</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a
              href="#"
              class="dropdown-toggle"
              data-toggle="dropdown"
              role="button"
              aria-haspopup="true"
              aria-expanded="false">
              @usuario.getLogin() <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="@routes.UsuarioController.detalleUsuario(usuario.getId())">Perfil</a></li>
              <li><a href="@routes.UsuarioController.logout()">Salir</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    } else {
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="@routes.UsuarioController.loginUsuario()">Login</a></li>
          <li><a href="@routes.UsuarioController.registroUsuario()">Registro</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    }
  </div><!-- /.container-fluid -->
</nav>
